/* Style.Css */

body {
    background-image: url('images/background.jpg');

}

#navhead {
    color: white;
    font-weight: bold;
}

#texhead {
    font-family: "Raleway", sans-serif;
    color: #83DF43;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-decoration-color: #50F7EF;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-align: center;
    padding-top: 11rem;
    padding-bottom: 1.5rem;
}

#txtdiv {
    display: flex;
    justify-content: center;
}

#inputarea {
    border: 2px solid #D5AE5C;
    border-radius: 6px;
    max-width: 75%;

}

#btn {
    text-align: center;
}



#table {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-spacing: 40px;
    border-collapse: separate;
    border-spacing: 15px 0px;
}



th:nth-child(even) {
    background-color: #D5AE5C;
}

th:nth-child(odd) {
    background-color: #50F7EF;
}

/* Textarea Heading Mobile Portrait View */
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
    #texhead {
        font-size: medium;
    }

}

/* Textarea Heading Mobile Landscape View */
@media only screen and (min-device-width: 500px) and (max-device-width: 768px) {
    #texhead {
        font-size: large;
    }

}

/* Textarea Heading Tablet View */
@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    #texhead {
        font-size: 20px;
    }

}

/* Textarea Heading Laptop View */
@media only screen and (min-device-width: 1000px) {
    #texhead {
        font-size: large;
        padding-top: 13rem;
    }

}

/* Heading Mobile Portrait View */
@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
    #navhead {
        font-size: 20px;

    }

}

/* Heading  Big Mobile Portrait View */
@media only screen and (min-device-width: 400px) and (max-device-width: 568px) {
    #navhead {
        font-size: x-large;
    }

}

/* Heading Mobile Landscape View */
@media only screen and (min-device-width: 568px) and (max-device-width: 768px) {
    #navhead {
        font-size: xx-large;
    }

}

/* Heading Tablet View */
@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    #navhead {
        font-size: 30px;
        padding-top: 3rem;
    }

}

/* Heading Laptop View */
@media only screen and (min-device-width: 1000px) {
    #navhead {
        font-size: 40px;
        padding-top: 2.5rem;

    }

    #texhead {
        font-size: 21px;
    }
}